@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
  
<p>
    Account registered. Please contact admin to activate account
</p>
    

}
