

<div class="row">
    <input id="urlToGetMessages" hidden value="@Url.Action("GetList", "ConstructDateMessage")" />
    <div class="col-lg-3">
        <label class="label" style="font-weight:bold">From</label>
        <input class="form-control" id="fromDate" onchange="getMessages()" type="date" />
    </div>

    <div class="col-lg-3">
        <label class="label" style="font-weight:bold">To</label>
        <input class="form-control" id="toDate" onchange="getMessages()" type="date" />
    </div>
    <div>
        <label class="label" style="font-weight: bold; color: #222">|</label>
        <button type="button" style="display:none" id="weeklyMessages" class="btn btn-primary form-control" onclick="constructWeeklyMessage()">Test Send Message</button>
    </div>

</div>

<br />
<br />
<br />

<div id="trades">
    
</div>



<script src="~/js/ConstructMessageOnDate.js"></script>